[user]
    name = Matthew Robbins
    email = matthew.robbins@itv.com
[github]
    user = mcrmfc
[diff]
	tool = vimdiff
[merge]
    tool = mvim
[mergetool "mvim"]
    cmd = /Applications/MacVim-snapshot-67/mvim -d -g $LOCAL $MERGED $REMOTE
    keepbackup = false
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	df = diff --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	sh = show --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    stat = status
    s = status
[core]
	filemode = false
	autocrlf = input
	excludesfile = /Users/robbim04/.gitignore_global
[url "https://github.com/"]
	insteadOf = git://github.com/
[push]
	default = simple
